@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900);

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

a {
    color: inherit;
    padding: 0;
    margin: 0;
}

span {
    color: #EE4248;
}

.header {
    padding: 22px 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    line-height: 21px;
    color: rgba(31, 46, 53, 0.8);
}
.container {
    max-width: 1145px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}       

.span__color {
    display: flex;
    flex-direction: row;
    letter-spacing: -0.05em;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
}

.logo__color {
    
    /* letter-spacing: -0.14em; */
}

.logo__color:nth-child(1) {
    color: #85171A;
    }
.logo__color:nth-child(2) {
    color: #DC2025;
}
.logo__color:nth-child(3) {
    color:  #FEBA08;;
}

.logo__text {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.065em;
}

.logo__text:nth-child(1) {
    color: rgba(0, 0, 0, 0.6);
}
.logo__text:nth-child(2) {
    color: rgba(38, 50, 56, 0.8);
}
.logo__text:nth-child(3) {
    color: #263238;
}

.menu {
}
.header__list {
    display: flex;
    align-items: center;
}
.header__item {
    margin-right: 50px;
}
.item__link {
    display: flex;
    align-items: center;
}
.link__img {
    margin-left: 8px;
}
.header__img {
}
.menu__img {
    display: flex;
    align-items: center;
}
.img__item:not(:first-child) {
    margin-left: 24px;
}

.img__link {
}

/* ---------------------------------------- */

.general {
    padding: 51px 0 100px;
}

.general__inner {
    display: flex;
    padding: 59px 0;
}

.general__content {

}

.general__title {
    max-width: 545px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    color: #1F2E35;
    margin-top: 16px;
    margin-bottom: 24px;
}

.general__text {
    font-size: 20px;
    line-height: 29px;
    color: #30444E;
    margin-bottom: 24px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #EE4248;
    color: #fff;
    cursor: pointer;
}

.general__button {
    padding: 12px 32px;
    font-size: 20px;
    line-height: 29px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.about {
    padding: 57px 0 63px;
    margin-bottom: 96px;

}

.about__inner {
    display: flex;
    padding: 0 34px 0 36px;
}

.about__img {

}

.about__content {
    margin-left: 87px;
    
}

.about__title {
    max-width: 454px;
    font-size: 32px;
    font-weight: 500;
    line-height: 43px;
    color: #1F2E35;
    margin-bottom: 24px;
}

.about__text {
    max-width: 520px;   
    font-weight: 400;
}

.about__text + .about__text {
    margin-top: 35px;
}
/* -------------------------- */
.services {
    padding: 20px 0 19px;
    margin-bottom: 87px;
}

.services__items {
    max-width: 363px;
    margin-right: 9px;
    padding: 24px 20px 4px 24px;
}

.services__items:first-child {
    margin-left: 9px;
}

.services__items + .services__items {
    padding: 24px 10px 4px 24px;
}

.services__icon {
    margin-bottom: 15px;
}



.services__title {
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    color: #1F2E35;
    text-align: center;
}

.services__list {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.services__title-item {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;
    color: #EE4248;
}

.services__text {
    margin-bottom: 16px;
}

.services__button {
    line-height: 26px;
    padding: 8px 16px;  
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.copyraight {
    padding: 22px 0 21px;
    text-align: center;
    line-height: 21px;
    color: #fff;
    background-color: #EE4248;
}

.copyraight span{
    font-weight: 500;
    color: #fff;
}

/* ------------------ */

.footer__inner {
    display: flex;
    /* align-content: flex-end; */
    gap: 47px;
    padding-bottom: 13px;
}

.name__company {
    font-weight: 500;
    color: #263238;
    margin-bottom: 8px;
}

address {
    line-height: 27px;
}

.footer__column {
    padding-bottom: 11px;
}
.footer__column:nth-child(2) {
    padding-top: 23px;
}

.footer__column  a{
    display: block;
}

.contact__title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #263238;
}


@media (max-width: 1020px) {
    
}